
/*Header*/

#head-container{
  color: white;
  background-color: #000C7A;
  height: 110;
  width:100%;
  
}

.hr{
  top: 20px;
        border: none;
        height: 2px;
        background: black;
        margin-bottom: 50px;
}

.navbar {

  display: flex;
  margin-left: -19px;
  background-color: #0077b6;
  border: none;
  margin-top: -50px;
  z-index: -1;
}

span.hamburger {
  margin-left: 10;
}

a {
  text-decoration: underline; 
  text-align: center;
  margin-top: 35px;
}

h3.finish-head {
    font-weight: bold;
}


.header-btn{
  text-decoration: none;
  background-color: none;
  color: white;
  background-color: #0077b6;;
  font-size: 15px;
  margin-bottom: 30px;
  margin-left: -10px;
  font-weight: bold;
  text-transform: uppercase;
}
.header-btn:active{
  color: white;
  background-color: #000099 ;
}
.header-btn:hover{
  background-color: white;
  border-color: #0077b6;
  color: #0077b6;
}


#fb {
  height: 80;
  width: 80;
  margin-top: 15px;
}

#user-icon{
  height: 80;
  width: 80;
}



#plv-logo{
  display: block; margin-left: auto; margin-right: auto; margin-bottom: 50; height: 100; width: 100; margin-top: 100;
}


body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container { 
  padding: 0;
  
}

.btn{
  margin-left: 10px;
  border-radius: 7px;
}
.btn:hover{

  background-color: white;
  border-color: #0077b6;
  color: #0077b6;
}

.hn-c{
  display: flex;
}

#user{
  height: 40;
  width: 40;
}

#notif{
    width: 100%;

    color: white;
  }



/*DROP DOWN*/
.dropdown {
  position: relative;
  display:inline-block;
 }
 
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   padding: 12px 16px;
   z-index: 1;
   color: black;
 }
  svg:not(:root) {
  overflow: hidden;
  /* margin: 1px; */
  margin-bottom: 5px;
  margin-right: 6;
}
 #notif{
   width: 100%;
 }
 
 #notifDropdown{
   width: 100%;
 }
 
 
 .dropdown:hover .dropdown-content {
   display: block;
   margin-right: 10px;
   margin-top: 2px;
   margin-left: 60px;
 }

/*CONTENT*/
/*BODY*/
/*Side Bar*/
ul {
  list-style-type: none;
  margin-top: 35px;
  padding: 0;
  width: 55%;
  height: 50%;
  overflow: auto;
  display: block;
}


.side-nav{
  float: left;
  margin-left: -225;
  width: 30%;
  
  transition: all ease 0.5s;
}

ul input {
  width: 100%;
  border-radius: 5px;
}


.content{
  color: black;
  
}

.btns{
  display: block;
  padding: 20px;
  text-decoration: none;
  border: 1px solid black;
  margin: 0;
  background-color: #000C7A;
  cursor:pointer; 
  color: white;
  font-weight: bold;
  text-align: center;
}

.active, .btns:hover:not(.active) {
  background-color: #000099;
  color: Black;
}


#accept{
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  margin:10px;
  text-align: center;
  background-color: green;
}

#decline{
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  margin:10px;
  background-color: red;
}

.sidepanel {
  padding: 0.5vw;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

.openBtn {
  font-size: 20px;
  cursor: pointer;
  background-color: none;
  color: white;
  padding: 10px 15px;
  border: none;
  float:right;
}

.openBtn:hover {
  background-color: #444;
}

.big-contents {
    margin-left: 269px;
    margin-right: 5%;
    border-radius: 10px;
    margin-top: 20px;
    padding-bottom: 60px;
    padding-right: 15px;
    background-color: #f8f8ff;
    
    padding-left: 100px;
}

#profContent h4{
  margin: 0;
  padding: 0;
  
}
#profContent h3{
  margin-top: 30;
  margin-bottom: -10;
  
}

#resContent h3{
  margin: 0;
  padding: 0;
}

#resContent h4{
  margin-top: 5;
  margin-bottom: 1px;
}

#resContent input{
  margin-top: 60px;
  margin: 0;

}

#pendingContent h3{
  margin: 0;
  padding: 0;
}



#pendingContent h4{
  margin-top: 5;
  margin-bottom: 1px;
}

#pendingContent input{
  margin-top: 60px;
  margin: 0;
  margin-right: 6px;

}



#userProfContent h3{
  margin: 0;
  padding: 0;
  font-size: 25px;
}

._edit{
  margin-top: 15px !important;
}

#userProfContent input{
  margin-top: 30px;
  margin-left: auto;
  margin-right: 10px;
  border-radius: 7px;
}

.accepted{
  color: green;
  margin-bottom: 40px !important;
}

.pending{
    color:orange;
}

.declined{
  color:red;
}
.cancelled{
color: gray;
}

.decline{
background-color: red;
}

.userProfContent img{
vertical-align: middle;
}

#userResContent h3{
margin: 0;
padding: 0;
}


#userResContent input{
margin-top: 5px;
margin-left: auto;
margin-right: 10px;
}


/*EDIT TABLES*/
#availabilityCB {
  width: 200px;
margin: 0 auto;

}

table{
 text-align: center;
}

.bottom input{
 float: right;
 margin-top: 8px;
 margin-right: 452px;
 background-color: #000099 !important;
 text-decoration: none;
border-radius: 5px;
font-size: 16px !important;
color: white;
 
}

#policiesID{
  margin-right: 395px;
  color: white;
 font-size: 16px !important;
}

#addBtn{
  margin-right: 15px;
  color: white;
 font-size: 16px !important;
 position:absolute;
}
.resContent img{
 vertical-align: middle;
 }

 .pendingDiv h2{
   font-size: 25px;
   font-weight: bold;
 }

/*User Reservation*/
 .finishedDiv h2{
   font-size: 24px;
   margin-top: 50px;
   margin-bottom: 40px;
 }

 .finishedDiv h3{
   font-size: 25px;
 }
 /*User Reservation Outter Button 1*/
.pendingDiv .openBtn{
  margin-top: -38px;
  margin-right: 10px;
}

/*User Reservation Outter Button 2*/
.finishedDiv .openBtn{
  margin-top: -68px;
  margin-right: 10px;
}
/*Event Name of Pending Reservation*/
._edit{
  margin-top: -30px;
}
/*Event Date of Pending Reservation*/
.pendingDiv .block{
  margin-top: -25px;
  margin-bottom: 40px;
}

/*Event Date of Finished and Reviewed Reservation*/
.finishedDiv #Eventdate{
  margin-top: -30px;
}

/*Finished and Reviewed Reservation Inner Button*/
.finishedDiv .sidepanel .openBtn{
  margin-right: 60px;
}
/*Pending Reservation Inner Button*/
.pendingDiv .userResContent .openBtn{
  margin-top: -80px;
}

.subclassname h3{
  font-size: 20;
  margin-left: 10px;
  margin-top: -10px;
}

.subclassname h4{
  font-size: 20px;
}



/*Monitoring Form*/
.content .row .openBtn{
  margin-right: 15px;
  margin-top: -60px;
}

/*Monitoring Form Content*/
.content .row h3{
  font-size: 25;
}

.content .row #EventDate{
  margin-top: -20px;
}

/**/
#remarksArea{
  display: block;
}

div.pagination {
	padding: 3px;
	margin: 3px;
  font-size: 20px;
}

div.pagination a {
	padding: 0px 0px 2px 5px;
	margin: 2px;
	border: 1px solid #AAAADD;
	zoom: 100%;

	text-decoration: none; /* no underline */
	color: #000099;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #000099;
	color: #000;
}
div.pagination span.current {
	padding: 0px 0px 2px 5px;
	margin: 2px;
	border: 1px solid #000099;
	 zoom: 100%; 
	
	font-weight: bold;
	background-color: #000099;
	color: #FFF;
}
div.pagination span.disabled {
	padding: 0px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #EEE;
	
 zoom: 100%;
	
	color: #DDD;
}

* span.elipsis {zoom:100%}
	

#editList label{
  font-size: 24px;
  font-weight: normal !important;
}

/* Image zoom CSS */
.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  float: right;
  vertical-align: middle;
  margin-top: -250px;
  margin-right: 20px;
  height: 110px;
  width: 110px;


}



.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
#modal-content {
 
    display: block;
    width: 80%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    /*
    transform-origin: top left; /* IE 10+, Firefox, etc.
    -webkit-transform-origin: top left; /* Chrome
    -ms-transform-origin: top left; /* IE 9 
  
    /* transition: transform 0.25s ease; */
    cursor: zoom-in;
    margin-top: -35px !important;
  
  }
  
  /* 
  #modal-content.rotate90,
  #modal-content.rotate270 {
    width: 100px;
    height: 820px
  } */
  #modal-content.flipped{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  #modal-content.zoomedOut{
    transform: scale(2,2);
  transition: transform 0.25s ease;
    cursor: zoom-out;
  }
  /* rotate + flipped */
  #modal-content.rotate90.flipped{
    transform: rotate(90deg) translateY(0%) scaleX(-1);
    -webkit-transform: rotate(90deg) translateY(0%) scaleX(-1);
    -ms-transform: rotate(90deg) translateY(0%) scaleX(-1);
  
  }
  #modal-content.rotate180.flipped{
    transform: rotate(180deg) translate(0%, 0%) scaleX(-1);
    -webkit-transform: rotate(180deg) translate(0%, 0%)  scaleX(-1);
    -ms-transform: rotate(180deg) translateX(0%, 0%) scaleX(-1);
  
  }
  
  
  #modal-content.rotate270.flipped{
    transform: rotate(270deg) translateX(0) scaleX(-1);
    -webkit-transform: rotate(270deg) translateX(0)  scaleX(-1);
    -ms-transform: rotate(270deg) translateX(0) scaleX(-1);
  
  }
  /* flip + zoomed out */
  #modal-content.zoomedOut.flipped{
    -webkit-transform: scale(-2,2);  
    transform: scale(-2,2);
  transition: transform 0.25s ease;
    cursor: zoom-out;
  }
  /* rotate + zoomed Out  */
  #modal-content.rotate90.zoomedOut{
    transform: rotate(90deg) translateY(0%) scale(2,2);
    -webkit-transform: rotate(90deg) translateY(0%) scale(2,2);
    -ms-transform: rotate(90deg) translateY(0%) scale(2,2);
    cursor: zoom-out;
  }
  #modal-content.rotate180.zoomedOut{
    transform: rotate(180deg) translate(0%, 0%) scale(2,2);
    -webkit-transform: rotate(180deg) translate(0%, 0%) scale(2,2);
    -ms-transform: rotate(180deg) translateX(0%, 0%) scale(2,2);
    cursor: zoom-out;
  }
  
  
  #modal-content.rotate270.zoomedOut{
    transform: rotate(270deg) translateX(0) scale(2,2);
    -webkit-transform: rotate(270deg) translateX(0) scale(2,2);
    -ms-transform: rotate(270deg) translateX(0) scale(2,2);
    cursor: zoom-out;
  }
  /* Zoomed + rotate + flip */
  #modal-content.rotate90.zoomedOut.flipped{
    transform: rotate(90deg) translateY(0%) scale(-2,2);
    -webkit-transform: rotate(90deg) translateY(0%) scale(-2,2);
    -ms-transform: rotate(90deg) translateY(0%) scale(-2,2);
    cursor: zoom-out;
  }
  #modal-content.rotate180.zoomedOut.flipped{
    transform: rotate(180deg) translate(0%, 0%) scale(-2,2);
    -webkit-transform: rotate(180deg) translate(0%, 0%) scale(-2,2);
    -ms-transform: rotate(180deg) translateX(0%, 0%) scale(-2,2);
    cursor: zoom-out;
  }
  
  
  #modal-content.rotate270.zoomedOut.flipped{
    transform: rotate(270deg) translateX(0) scale(-2,2);
    -webkit-transform: rotate(270deg) translateX(0) scale(-2,2);
    -ms-transform: rotate(270deg) translateX(0) scale(-2,2);
    cursor: zoom-out;
  }
  
  #modal-content.rotate90{
    transform: rotate(90deg) translateY(0%);
    -webkit-transform: rotate(90deg) translateY(0%);
    -ms-transform: rotate(90deg) translateY(0%);
  }
  #modal-content.rotate180{
    transform: rotate(180deg) translate(0%, 0%);
    -webkit-transform: rotate(180deg) translate(0%, 0%);
    -ms-transform: rotate(180deg) translateX(0%, 0%);
  
  
  }
  #modal-content.rotate270{
    transform: rotate(270deg) translateX(0%);
    -webkit-transform: rotate(270deg) translateX(0%)  translateY(0%);
    -ms-transform: rotate(270deg) translateX(0%);
    
  }
  

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.left{
  color: #f1f1f1 !important;
  font-size: 40px;
  font-weight: bold;
  float: left;
  /* margin: 5px; */
  TOP: 124px !important;
  margin-top: -485px;
  /* margin-bottom: 17px; */
  margin-left: 50;
  font-weight: bolder;
}

.right{
  color: #f1f1f1 !important;
  font-size: 40px;
  font-weight: bold;
  float: right;
  /* margin: 5px; */
  TOP: 124px !important;
  margin-top: -500px;
  /* margin-bottom: 17px; */
  margin-right: 50;
  font-weight: bolder;
}

.modalEdit{
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  z-index: 1;
  /* position: fixed; */
  top: 50%;
  left: 50%;
  
}


/* Removed float:right from .userResContent and .resContent */

label{
  font-size: 20px;
}

._profContent img{
  margin-top: -85 !important;
  padding-bottom: 10px;

}


._profContent h4{
  margin-top: -10px !important;
}

.submitMf{
  margin-left: 0;
  border-radius: 7px;
}
#Filter{
    margin-top: 7px;
}

input#myInput {
  height: 29px;
  margin-right: 3px;  
  padding-bottom: 4px;
}

select{
  margin-bottom: 8px;
  margin-left: 00px;
  margin-right: 10px;
  font-size: 19px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #000C7A;
  font-weight: bold;
}

button#myInput{
  margin-top: 31px;
  height: 30px !important;
  text-align: center;
 padding: 0px;
 width: 70;
}

.filter{
  margin-top: 10px;

}

table#equipmentTbl {
    width:100%;
    margin-top:40px;
    overflow-x:auto !important;
}

table#roomTbl {
    width: 100%;
    margin-top: 40px;
}

table#policiesTbl {
    margin-top: 40px;
    width: 100%;
}


/*Mobile responsiveness*/
div#equipID{
    overflow-x:auto;
}

div#roomID {
    overflow-x: auto;
}

img.rotate.modalEdit {
    margin-left: 31%;
    margin-right: auto;
    /* width: 15%; */
}

.resetPW{
    margin:0;
    border-radius: 7px;
    background-color: #0077b6;;
}

.resetPW:hover{
  background-color: white;
  border-color: #0077b6;
  color: #0077b6;
}

/*Wrap content*/
div#content {
    word-wrap: break-word;
    width: 80%;
}

div#finishedContent {
  margin-left: 12;
  word-wrap: break-word;
  width: 80%;
}


/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  .big-contents{
    margin-left: 6px !important;
  }
  div#content {
    word-wrap: break-word;
    width: 97%;}

    div#profContent {
      margin-left: 0px;
      margin-top: -20px;
  }
  #finishedContent h3 {
    font-size: 14px;
}
  .big-contents {
    margin-left: 172px;
    margin-right: 5%;
    border-radius: 10px;
    margin-top: 20px;
    padding-bottom: 60px;
    padding-right: 15px;
    background-color: #f8f8ff;
  
    padding-left: 17px;
  }
  #profContent h3, h4{
    font-size: 14px;
  }
  #profContent h4{
    font-size: 14px;
  }
  .resetPW{
    font-size: 10;
  }
  ._profContent img {
    margin-top: -68px !important;
}
.userProfContent h3 {
    font-size: 14px !important;
}

  .myImg {
    margin-right: -7px;
    height: 80px;
    width: 80px;
    margin-top: -160px;
  }
  #resContent h3{
  font-size: 14px;
  }
  .resContent img {
    margin-top: -140px;
  }
  #pendingContent h3{
    font-size: 14px;
  }
  #pendingContent input{
    font-size: 10px;
    border-radius: 7px;
  }
  #resContent input{
    font-size: 10px;
  }
   .subClassName h4 {
    font-size: 14px;
}
  .sidepanel{
    margin-top: 100px;
  }
  textarea{
    font-size: 12px;
  }
  img.rotate.modalEdit {
    margin-left: 24%;
    margin-right: auto;
    width: 15%;
    margin-top: -7px !important;
    height: 50;
    width: 50;
}

.hr{
  width: 100%;
}
hr.hro{

  width: 118% !important;
}

.g-confirm, .g-decline {
  margin-left: 20px !important;
  text-align: center;
  font-size: 14px;
  word-wrap: break-word;
}



input.header-btn.btn.decline.g-decline {
  padding-left: 13px !important;
  padding-right: 8px !important;
}

  .modalConfirm{
    width: 270px ;
  }

  .left {
    color: #f1f1f1 !important;
    margin-top: -271px;
    margin-left: 8px;
}

.right {
  color: #f1f1f1 !important;
  margin-top: -266px;
  margin-right: 5px;
}

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  .big-contents{
    margin-left: 20px !important;
  }
  img.rotate.modalEdit {
    margin-left: 24%;
    margin-right: auto;
    width: 15%;
    margin-top: -7px !important;
}

.big-contents {
  width: 93% !important;
  margin-right: 5%;
  border-radius: 10px;
  margin-top: 20px;
  padding-bottom: 60px;
  padding-right: 15px;
  background-color: #f8f8ff;

  padding-left: 17px;
}
#finishedContent h3 {
    font-size: 14px;
}
.userProfContent h3 {
    font-size: 14px !important;
}
  #profContent h3{
    font-size: 14px;
  }
  #profContent h4{
    font-size: 14px;
  }
  .resetPW{
    font-size: 10;
  }

  ._profContent img {
    margin-top: -70px !important;
    margin-right: 10;
    
  } 
  .myImg {
    margin-right: -7px;
    height: 80px;
    width: 80px;
    margin-top: -160px;
  }
  #resContent h3{
    font-size: 14px;
  }
  .resContent img {
    margin-top: -140px;
  }
  #pendingContent h3{
    font-size: 14px;
  }
  #pendingContent input{
    font-size: 10px;
  }
  #resContent input{
    font-size: 10px;
  }
   .subClassName h4 {
    font-size: 14px;
}
  .sidepanel{
    margin-top: 100px;
  }
  textarea{
    font-size: 12px;
  }
  img.rotate.modalEdit {
    margin-left: 24%;
    margin-right: auto;
    width: 15%;
    margin-top: -7px !important;
    height: 50;
    width: 50;
}
.hr{
  width: 100%;
}


.g-confirm, .g-decline {
  margin-left: 20px !important;
  text-align: center;
  font-size: 14px;
}

input.header-btn.btn.decline.g-decline {
  padding-left: 13px !important;
  padding-right: 8px !important;
}

.left {
  color: #f1f1f1 !important;
  margin-top: -271px;
  margin-left: 8px;
}

.right {
color: #f1f1f1 !important;
margin-top: -266px;
margin-right: 5px;
}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .big-contents{
      margin-left: 35px !important;
    }
    #profContent h3{
      font-size: 14px;
    }
    #profContent h4{
      font-size: 14px;
    }
    .subClassName h4 {
    font-size: 14px;
}
    .resetPW{
      font-size: 10;
    }
    ._profContent img {
      margin-top: -70px !important;
      
  }
  #finishedContent h3 {
    font-size: 14px;
}
  .myImg {
      margin-right: -7px;
      height: 80px;
      width: 80px;
      margin-top: -160px;
  }
  #resContent h3{
    font-size: 14px;
  }
  .resContent img {
    margin-top: -140px;
  }
  #pendingContent h3{
    font-size: 14px;
  }
  #pendingContent input{
    font-size: 10px;
  }
  #resContent input{
    font-size: 10px;
  }
  .userProfContent h3 {
    font-size: 14px !important;
}
  .sidepanel{
    margin-top: 100px;
  }
  textarea{
    font-size: 12px;
  }
  img.rotate.modalEdit {
    margin-left: 24%;
    margin-right: auto;
    width: 15%;
    margin-top: -7px !important;
    height: 50;
    width: 50;
    
}

.g-confirm, .g-decline {
  margin-left: 20px !important;
  text-align: center;
  font-size: 14px;
}

input.header-btn.btn.decline.g-decline {
  padding-left: 13px !important;
  padding-right: 8px !important;
}

.left {
  color: #f1f1f1 !important;
  margin-top: -395px;
  margin-left: 8px;
}

.right {
color: #f1f1f1 !important;
margin-top: -415px;
margin-right: 5px;
}


}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992) {
  .big-contents{
    margin-left: 285px !important;
  }
  div#content {
    word-wrap: break-word;
    width: 80% !important;}
    div#profContent {
      margin-left: 0px;
  }
  #profContent h3{
    font-size: 24px;
  }
  #profContent h4{
    font-size: 24px;
  }
  .resetPW{
    font-size: 15;
  }
  ._profContent img {
    margin-top: -120px !important;  
  }
    #finishedContent h3 {
    font-size: 24px;
}
  .myImg {
    margin-right: -1px;
    height: 110px;
    width: 110px;
    margin-top: -200px !important;
  }
  img.rotate.modalEdit {
    margin-left: 30%;
    margin-top: -8px !important;
  }
  #resContent h3{
    font-size: 24px;
  }
  .resContent img {
    margin-top: -250px;
  }
  #pendingContent h3{
    font-size: 24px;
  }
  #pendingContent input{
    font-size: 15px;
  }
  #resContent input{
    font-size: 15px;
  }
  .userProfContent h3 {
    font-size: 24px !important;
}
.subClassName h4 {
    font-size: 24px;
}
  .sidepanel{
    margin-top: 0px;
  }
  textarea{
    font-size: 20px;
  }
  .navbar{
    background-color:transparent !important;
  }

 

}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .big-contents{
    margin-left: 300px !important;
  }
  div#content {
    word-wrap: break-word;
    width: 80% !important;}
    div#profContent {
      margin-left: 0px;
  }
  #profContent h3{
    font-size: 24px;
  }
  #profContent h4{
    font-size: 24px;
  }
      #finishedContent h3 {
    font-size: 24px;
}
.subClassName h4 {
    font-size: 24px;
}
  .userProfContent h3 {
    font-size: 24px !important;
}
  .resetPW{
    font-size: 15;
  }
  ._profContent img {
    margin-top: -110px !important;  
  }
  .myImg {
    margin-right: 10px;
    height: 110px;
    width: 110px;
    margin-top: -210px !important;

  }
  img.rotate.modalEdit {
    margin-left: 35%;
    margin-right: -150px;
    margin-top: -8px !important;
  }
  #resContent h3{
    font-size: 24px;
  }
  .resContent img {
    margin-top: -250px;
  }
  #pendingContent h3{
    font-size: 24px;
  }
  #pendingContent input{
    font-size: 15px;
  }
  #resContent input{
    font-size: 15px;
  }
  .sidepanel{
    margin-top: 0px;
  }
  textarea{
    font-size: 20px;
  }
  .navbar{
    background-color:transparent !important;
  }
  .hr{
    width: 100%;
  }

  .g-confirm, .g-decline {
    margin-left: 20px !important;
    text-align: center;
    font-size: 14px;
  }

  .left {
    color: #f1f1f1 !important;
    margin-top: -395px;
    margin-left: 8px;
  }
  
  .right {
  color: #f1f1f1 !important;
  margin-top: -415px;
  margin-right: 5px;
  }
  
  


}

.modalConfirm{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 50px !important;
  border: 3.5px inset #1C1D91 !important;

}

.modalConfirm h4{
  font-size: 24px;
  margin:  0 5 30 5;
  text-align: center;
}
.modalConfirm input{
  margin-left: 30px;

  
}

hr.hro{
  top: 20px;
  border: none;
  height: 2px;
  background: black;
  margin-bottom: 50px;
  width: 120%;
}


.img-thumbnail {
  height: 60px;
  width: 60px;
}

input.removeButton {
  height: 50px;
  width: 50px;
}

input.editButton {
  height: 50px;
  width: 50px;
}


.fullscreenContainer{
  /* display: none; */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(90, 90, 90, 0.5);
  z-index: 9999;
}

input[type="image"]{
  height: 60px;
  width: 60px;
}