
/*Header*/

#head-container{
  color: white;
    background-color: #0F1057;
    height: 68;
    width: 100%;
    position: fixed;
}

.navbar{
width:85%;
margin:auto;
display:flex;
}
.nav1{
display:flex;
width:50%
}

.nav2{
  display:flex;
  width:50%;
  flex-direction: row;
  justify-content: flex-end;
}

a {
  text-decoration: underline; 
  text-align: center;
  margin-top: 35px;
}

.header-btn{
  text-decoration: none;
  background-color: #008F00;
  color: white;
  text-shadow: black 1px 1px;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 30px;
}
.header-btn:active{
  color: white;
  background-color: #00f500;
}
.header-btn:hover{
  color: white;
}


#fb {
  height: 80;
  width: 80;
  margin-top: 15px;
}

#user-icon{
  height: 80;
  width: 80;
}
  
  
  
  #plv-logo{
    display: block; margin-left: auto; margin-right: auto; margin-bottom: 50; height: 100; width: 100; margin-top: 100;
  }
  
  
  body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .container { 
    padding: 0;
    
  }
  
  .btn{
    margin-left: 10px;
  }
  
  .hn-c{
    display: flex;
  }
  
  #user{
    margin-left: 600px;
    height: 40;
    width: 40;
    margin-bottom: 20px;
  }
  
  #notif{
    margin-top: 35px;
    margin-left: 20px;
    height: 40px;
    width: 40px;
    margin-bottom: 20px;
  }
  
  
  /*DROP DOWN*/
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* added */
  #room{
    border-radius: 3px;
  }

  #equipment{
    border-radius: 3px;
  }

  #contact{
    border-radius: 3px;
  }
  
  /*FORM*/
  .form-container{
      margin-top: 10%;
      padding: 35px;
      border: 1px black solid;
      border-radius: 10px;
  }

  /*ITEMS LIST*/
  .head-list li{
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
  }

  .content-list li{
    display: inline-block;
    margin-left: 80px;
    margin-right: 80px;
  }


  .submit{
    color: white;
    background-color: #0F1057;
    text-shadow: black 1px 1px;
    border: none;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
  }

  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
/* .switch input {
  opacity: 0;
  width: 0;
  height: 0;
} */

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.labelName{
  display:inline;
  margin-right: 2vw;
  margin-top:2vw;
}



#EventName input{
  border-radius: 3px;
  width: 30%;
}

#EventDate input{
  border-radius: 3px;
}

#PersonReserve input{
  border-radius: 3px;
  width: 30%;
}

#RoomReservation input{
  border-radius: 3px;
  width: 30%;
}

textarea{
    width: 80%;
    height: 15%;
    resize: none;
    border-radius: 3px;
}

.block{
    display:inline-block;
}

/* Validity stuff
input[type='time']:invalid+.validity:after {
  content: '✖';
  padding-left: 5px;
}

input[type='time']:invalid+.validity:after {
  content: '✓';
  padding-left: 5px;
} */