

/*Header*/

#head-container{
  color: white;
    background-color: #0F1057;
    height: 68;
    width: 100%;
    position: fixed;
}

.navbar {
  width: 5vm;
  display: flex;
  margin-left: -295px;
  background-color: #0077b6;
  border: none;
  margin-top: -50;
  z-index: -1;
}

span.hamburger {
  margin-left: 4;
}


.nav2{
  display:flex;
  width:50%;
  flex-direction: row;
  justify-content: flex-end;
}

.header-btn{
  text-decoration: none;
  background-color: none;
  color: white;
  background-color: #0F1057;
  font-size: 15px;
  margin-bottom: 30px;
  margin-left: -10px;
  font-weight: bold;
  text-transform: uppercase;
}
.header-btn:active{
  color: white;
  background-color: #000099 ;
}
.header-btn:hover{
  color: white;
}



#user-icon{
  height: 80;
  width: 80;
}



#plv-logo{
  display: block; margin-left: auto; margin-right: auto; margin-bottom: 50; height: 100; width: 100; margin-top: 100;
}


body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container { 
  padding: 0;
}

#user{
  height: 40;
  width: 40;
}




/*DROP DOWN*/
.dropdown {
 position: relative;
 display:inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  color: black;
}

#notif{
  width: 100%;
  color: white;
}

#notifDropdown{
  width: 100%;
}


.dropdown:hover .dropdown-content {
  display: block;
  margin-right: 10px;
  margin-top: 2px;
  margin-left: 60px;
}
/*CONTENT*/
/*BODY*/
.content{
  color: black;
}

.big-contents{
  margin-left: 150px;
  border-radius: 10px;
  margin-top: 10px;
  padding-bottom: 15px;
  padding-right: 15px;
  background-color: rgb(202, 199, 199);
  border: black solid 1px;
}

.btns{
  display: block;
  padding: 20px;
  text-decoration: none;
  border: 1px solid black;
  margin: 0;
  background-color: #555;
  cursor:pointer; 
  color: white;
}

.active, .btns:hover:not(.active) {
 background-color: #82eefd;
  color: black;
}

.image{
  align-items: center;
  border: black solid 1px;
  margin-top: 10px;
  max-width: 100vw;
  max-height: 20vh;
  width: auto;
  height: auto;
}

/*Dropdowns*/
/*Carousel*/
#carousel{
    max-width:90%;
    position:relative;
    margin:auto;
    padding:1vh 0 5vh 0 ;
}


ul{list-style-type:none;}
/*CALENDAR CHANGES*/
#calendar{
   
  padding: 1vh;
  border-radius: 10px;
  width: 95% !important;
  margin-left: 2.5%;
  color: black;
}

table{
  background-color: #83bcff;
}

td, th{
  padding: 14px;
}


#monthAndYear{
  color: black;
  font-size: 25px;
}

/*CALENDAR CHANGES END*/



/* Month header */
.month {
    width: 100%;
    text-align: center;
    padding: 1vh 0px;
}

/* Month list */
.month ul{
    margin:0;
    padding:0;
}

.month ul li{
    color:black;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Next/Prev buttons */
.month .prev {
    float:left;
    padding-top: 10px;
}

.month .next{
    float: right;
    padding-top: 10px;
}

/* Weekdays */
.weekdays{
    margin:0;
    padding:1vh;
    background-color: rgb(80, 74, 71);
    
}

.weekdays li{
    display: inline-block;
    width:13.6%;
    text-align: center;
    color: white;
}

/* Days */
.days{
    padding: 10px 0;
    margin:0;
    background-color: rgb(32, 30, 30)
}

.days li{
    list-style-type:none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.5em;
    color: white;
}

/* Highlighted day */
.days li .active{
    padding: 5px;
    color: white;
}

.resBtn{
display:grid;
justify-items:end;
}


/*Reservations*/
.reservations{
  margin-left: 2vw !important;
  color: black;

  width: 97% !important;
  margin-top: 20px;
  border-radius: 7px;
  font-size: 25px;
  font-weight: bold;
}

.bg-info{
  background-color: #000099 !important;
  color: white;
}


.reservations h3{
  margin-left: 20px;
}


/*Create reservation*/
.create-reservation{
  margin-left: 2.5vw !important;
  margin: 10px;
  margin-top: 20px;
  border-radius: 7px;

}

.create-reservation:hover{
  background-color: white;
  border-color: #0077b6;
  color: #0077b6;
}

.reservations h5{
  color: black;
  display: inline-flex;
  margin-left: 10px;
  margin-right: 10px;
}

h5{
    font-size: 20px;
}

.reservations h4{
  font-weight: bold;
  margin-left: 10px;
  font-size: 25px;
}

.hr{
  top: 20px;
        border: none;
        height: 2px;
        background: black;
        margin-bottom: 50px;
        margin-left: 10px;
        color: white;
}

input[type="button"]{
  background-color :#0077b6;
  color: white;
  padding: 10 15 10 15;
}

.main{
  margin: 0;
  padding: 0;
  margin-left: 250px !important;
}


/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  .reservationCount {
    font-size: 10px;
    word-break: break-word;
    color: #32cd32;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  .reservationCount {
    font-size: 10px;
    word-break: break-word;
    color: #32cd32;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .navbar{
    margin-left: -90%;
    visibility: visible;
  }
  .reservationCount {
    font-size: 10px;
    word-break: break-word;
    color: #32cd32;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  #calendar {margin-left: 15% !important;
    width: 80% !important;

  }
  .reservations {
    margin-left: 14.80vw !important;  
    width: 80% !important; 
  }
  .create-reservation{
    margin-left: 15vw !important;
  }
  .hamburger{
    visibility: hidden !important;
  }
  .reservationCount {
    font-size: 13px;
    word-break: break-word;
    color: #32cd32;
  }

}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1000) {
  #calendar {margin-left: 15% !important;
    width: 80% !important;

  }
  .reservations {
    margin-left: 14.80vw !important;  
    width: 80% !important; 
  }
  .create-reservation{
    margin-left: 15vw !important;
  }
  .navbar{
    background-color:transparent !important;
  }
  .hamburger{
    visibility: hidden !important;
  }
  .reservationCount {
    font-size: 13px;
    word-break: break-word;
    color: #32cd32;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  #calendar {margin-left: 15% !important;
    width: 80% !important;

  }
  .reservations {
    margin-left: 14.80vw !important;  
    width: 80% !important; 
  }
  .create-reservation{
    margin-left: 15vw !important;
  }
  .navbar{
    background-color:transparent !important;
  }
  .hamburger{
    visibility: hidden !important;
  }
  .reservationCount {
    font-size: 13px;
    word-break: break-word;
    color: #32cd32;
  }
}

