#_notif{
    height: 10px;
    width: 10px;
  }

#notifList img{
    height: 50px;
    width: 50px;

  }

*{
    margin: 0;
    padding: 0;
}

img{
    float: left;
    margin: 0;
    padding: 0;
}
p{
    display: inline-block;
}

#notifList p{
    display: inline-block;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

#markAsRead img{
    height: 30px;
    width: 30px;
}

#markAsRead{
    margin-left: 20px;
}


button{
    background-color: transparent;
    border: 0;
}

button:focus{
    background-color: black;
    color: white;
}

#n_img{
    width: 25%;
}

#n_content{
    width: 75%;
}

.row{
    width: 100%;
}