

/*Header*/

#head-container{
  color: white;
    background-color: none;
    height: 68;
    width: 100%;
    position: fixed;
}

legend{
  margin-top: 0px !important;
}

.navbar {
  width: 5vm;
  display: flex;
  margin-left: -19px;
  background-color: #0077b6;
  border: none;
  margin-top: -4;
  z-index: -1;
}

span.hamburger {
  margin-left: -95%;
}

a {
  text-decoration: underline; 
  text-align: center;
  margin-top: 35px;
}

.header-btn{
  text-decoration: none;
  background-color: none;
  color: white;
  background-color: #0F1057;
  font-size: 15px;
  margin-bottom: 30px;
  margin-left: -10px;
  font-weight: bold;
  text-transform: uppercase;
}
.header-btn:active{
  color: white;
  background-color: #000099 ;
}
.header-btn:hover{
  color: white;
}


#fb {
  height: 80;
  width: 80;
  margin-top: 15px;
}

#user-icon{
  height: 80;
  width: 80;
}

#plv-logo{
  display: block; margin-left: auto; margin-right: auto; margin-bottom: 50; height: 100; width: 100; margin-top: 100;
}


body {
  margin-left: 5% !important;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container { 
      padding: 0;
    margin-left: 250px !important;
    margin: 5px;
}

.btn{
  margin-left: 10px;
}

.hn-c{
  display: flex;
}

#user{
  height: 40;
  width: 40;
}

.dropdown {
  position: relative;
  display:inline-block;
 }
 
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   padding: 12px 16px;
   z-index: 1;
   color: black;
 }
 
 #notif{
   width: 100%;
 }
 
 #notifDropdown{
   width: 100%;
 }
 
 
 .dropdown:hover .dropdown-content {
   display: block;
   margin-right: 10px;
   margin-top: 2px;
   margin-left: 60px;
 }
/*CONTENT*/
/*BODY*/
/*Side Bar*/

.image{
  align-items: center;
  border: black solid 1px;
  margin-top: 10px;
}
.content{
  border: black 2px solid;
}

/*.text-policies{
  font-size: 20;
  text-align: justify;
  color: black;
  width: 100%;
  border: black 2px solid;
  border-radius: 5px;
  margin-top: 40;
  padding-left: 300px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
}*/

.policy{
 
  border-radius: 10px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  margin: 20 0 20 0;
  font-size: 24;
  padding: 20px;
}

p{
  font-weight: bold;
}

.policyDivs{
  font-size: 18px;
}

.policy img{
  height:auto;
  width: 50%;
  margin: 20 auto 20 auto;
  border-radius: 10px;
}

#return-img img{
  padding: 10px;
}

.dropdown {
  position: relative;
  display:inline-block;
 }
 
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   padding: 12px 16px;
   z-index: 1;
   color: black;
 }
 
 #notif{
   width: 100%;
 }
 
 #notifDropdown{
   width: 100%;
 }
 
 
 .dropdown:hover .dropdown-content {
   display: block;
   margin-right: 10px;
   margin-top: 2px;
   margin-left: 60px;
 }

 .sidenav a {
  padding-top: 14px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}

legend{
  margin-top: 50px;
  font-weight: bold;
  font-size: 25px;
}


/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  .container{
    margin-left: -12px !important;
  }
  legend{
    margin-top: 80px;
  }
  .policy{
    font-size: 14px;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  .container{
    margin-left: 35px !important;
  }
  legend{
    margin-top: 80px;
  }
  .policy{
    font-size: 14px;
    margin-right: 60px !important;
    margin-right: -30px;
  }
  .navbar{
    margin-left: -50px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .container{
    margin-left: 20px !important;
  }
  legend{
    margin-top: 80px;
  }
  .policy{
    font-size: 14px;
  }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .container{
    margin-left: 240px !important;
    width: 79%;
  }
  .policy{
    font-size: 24px;
  }
  .navbar{
    background-color:transparent !important;
  }
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .container{
    margin-left: 400px !important;
  }
  .policy{
    font-size: 24px;
  }
  .navbar{
    background-color:transparent !important;
  }
}