body {
  font-family: "Lato", sans-serif;
  color: black;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #1C1D91;
  overflow: hidden;
  padding-top: 0px;
  color: white;
  top: 0;
}

.sidenav a {
  padding-top: 14px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;

}





.sidenav p{
  text-align: left;
  width: 120px;
  display: block;
  margin: 0;
  padding: 0;
}

a {
  text-align: left;
  margin-top: 25px;
  padding-left: 27px;
}





.logout{
margin-top: auto;
margin-bottom: auto;
margin-left: 10px;
}


#fb {
  height: 50;
  width: 50;
  margin-top: 20px;
  margin-left: 90px;

  margin-bottom: auto;
}
.LogoName{
  font-size: 30px;
  margin-left: 15px;
  margin-top: 15px;
  font-weight: bold;
}

.nav1{
  display:flex;
  width:50%
  }

#logout{

  color: white !important;

}

hr{
  color: #f2f2f2;
}

#login{
  margin-top: 10px !important;
}

/*FOR NOTIF*/

/*DROP DOWN*/
.dropdown {
  position: relative;
  display:inline-block;
 }
 
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   padding: 12px 16px;
   z-index: 1;
   color: black;
 }
 
 #notif{
   width: 100%;
   color: white;
 }
 
 #notifDropdown{
   width: 100%;
  
 }
 
 
 .dropdown:hover .dropdown-content {
   display: block;
   margin-right: 10px;
   margin-top: 2px;
   margin-left: 60px;
 }

 svg:not(:root) {
  overflow: hidden;
  /* margin: 1px; */
  margin-bottom: 5px;
  margin-right: 6;
}

 input#markallasRead {
  font-size: 10px;
  margin: auto;
}

#notifList p {
  color: black !important;
  text-decoration: none !important;
  background-color: none !important;
  font-size: 14px !important;
}

.active1, .btns:hover:not(.active1) {
  background-color: white;
  color: Black !important;

}

.active1:active{
    color: #000099;
}
.sidenav1 {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1C1D91;;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  overflow: hidden;
}

.sidenav1 a {

  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.sidenav1 a:active{
  color: #000099;
}

.sidenav1 a:hover {
  color: black;
}

.sidenav1 .closebtn {
  position: absolute;
  top: -40;
  right: 20px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav1 p{
  text-align: left;
  width: 120px;
  display: block;
  margin: 0;
  padding: 0;
}


/* Custom, iPhone Retina */ 
@media only screen and (min-width : 300px) {
  .sidenav1 {padding-top: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .sidenav1 {width: 0;}
  .hamburger {
    color: white;
    visibility: visible !important;
}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  .sidenav1 {padding-top: 15px;
    overflow-y: scroll;
    overflow-x: hidden;}
  .sidenav1 {width: 0;}
  .hamburger {
    color: white;
    
 
}
.hamburger{visibility: visible !important;}
.sidenav1 {width: 250px;}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .sidenav1 {padding-top: 15px;
    overflow-y: scroll;
    overflow-x: hidden;}
  .sidenav1 {width: 0;}
  .hamburger{
    visibility: hidden !important;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .sidenav1 {padding-top: 15px;
    overflow-y: hidden;
    overflow-x: hidden;}
  .sidenav1 {width: 0;}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1000) {
  .sidenav1 {width: 250px;
    overflow-y: hidden;
    overflow-x: hidden;}
  .sidenav1 .closebtn {visibility: hidden;}
  .hamburger{ visibility: hidden;}
  
}


@media only screen and (min-width : 1900px) {
  .sidenav1 {width: 250px;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .sidenav1 .closebtn {visibility: hidden;}
  .hamburger{ visibility: hidden;}
}

.hamburger{
  color: black;
 
}


