.modalConfirm{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3.5px inset #1C1D91 !important;

}

.modal-f{
z-index: 1050;
overflow: hidden;
outline: 0;
margin: 100;
margin-left: 115px !important;
margin-top: 155px !important;
transform: scale(3,3);
width: 150px;
height: 150px;
}
.modalConfirm h4{
  font-size: 24px;
  margin:  0 0 30 0;
}
.modalConfirm input{
  margin-left: 130px;
}


.modalConfirm.shadow.p-3.mb-5.bg-white.rounded img {
  height: 90;
  width: 90;
}

img#modal-content {
margin-left: 22px;
}

span.left, span.right{
color: blue;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
.modalConfirm input{
  margin-left: 0px;}
  .modalConfirm h4{
    font-size: 15px;
  }

  img#modal-content {
    margin-left: 11px;
  }
  
  input.header-btn.btn.decline.f-decline, input.header-btn.btn.f-confirm{
    margin-top: 25px;
    margin-left: 30px;
  }
  .modalConfirm {
    position: fixed;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    border: 3.5px inset #1C1D91 !important;
    font-size: 14px !important;
    margin-top: 21px;
    width: 274px;
    
} .modal-f {
  z-index: 1050;
  overflow: hidden;
  outline: 0;
  margin: 100;
  margin-left: 115px !important;
  margin-top: 155px !important;
  transform: scale(3,3);

}
  
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

img#modal-content {
  margin-left: 11px;
}

input.header-btn.btn.decline.f-decline, input.header-btn.btn.f-confirm{
  margin-top: 25px;
  margin-left: 30px;
}
.modalConfirm {
  position: fixed;
  left: 50%;
  top: 47%;
  transform: translate(-50%, -50%);
  border: 3.5px inset #1C1D91 !important;
  font-size: 14px !important;
  margin-top: 21px;
  width: 274px;
  
} .modal-f {
z-index: 1050;
overflow: hidden;
outline: 0;
margin: 100;
margin-left: 115px !important;
margin-top: 155px !important;
transform: scale(3,3);
}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

img#modal-content {
  margin-left: 11px;
}

input.header-btn.btn.decline.f-decline, input.header-btn.btn.f-confirm{
  margin-top: 25px;
  margin-left: 30px;
}
.modalConfirm {
  position: fixed;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  border: 3.5px inset #1C1D91 !important;
  font-size: 14px !important;
  margin-top: 21px;
  width: 274px;
  
} .modal-f {
z-index: 1050;
overflow: hidden;
outline: 0;
margin: 100;
margin-left: 115px !important;
margin-top: 155px !important;
transform: scale(3,3);
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
.navbar{
  background-color:transparent !important;
}

.modalConfirm input{
  margin-left: 130px;
}

img#modal-content {
  margin-left: 12px;
}

input.header-btn.btn.decline.f-decline, input.header-btn.btn.f-confirm{
  margin-top: 25px;
  margin-left: 60px;
}
.modalConfirm {
  position: fixed;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  border: 3.5px inset #1C1D91 !important;
  font-size: 14px !important;
  margin-top: 21px;
  width: 350px;
  
} .modal-f {
z-index: 1050;
overflow: hidden;
outline: 0;
margin: 100;
margin-left: 115px !important;
margin-top: 155px !important;
transform: scale(3,3);

}
} 


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
.modalConfirm input{
  margin-left: 130px;
}

img#modal-content {
  margin-left: 25px;
}

input.header-btn.btn.decline.f-decline, input.header-btn.btn.f-confirm{
  margin-top: 25px;
  margin-left: 60px;
}
.modalConfirm {
  position: fixed;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  border: 3.5px inset #1C1D91 !important;
  font-size: 14px !important;
  margin-top: 21px;
  width: 350px;
  
} .modal-f {
z-index: 1050;
overflow: hidden;
outline: 0;
margin: 100;
margin-left: 115px !important;
margin-top: 155px !important;
transform: scale(3,3);

}

}